* {
    font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    border: none;
    border-radius: 0;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #32302f;
}

#workspaces button {
    padding: 0px 6px;
    background-color: #282828;
    color: #fbf1c7;
    border: 2px dotted #3c3836;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
}

#workspaces button.focused, #workspaces button.active {
    background-color: #32302f;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#wireplumber,
#tray {
    padding: 2px 8px;
    background-color: #282828;
    color: #fbf1c7;
    border: 2px dotted #3c3836;
    border-radius: 15px;
    margin-bottom: 5px;
}

#window,
#workspaces {
    margin-left: 20px;
}

#clock {
    padding: 0px 100px;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    margin-right: 20px;
}

#pulseaudio.muted {
    background-color: #f53c3c;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

wireplumber.muted {
    background-color: #f53c3c;
}