* {
    font-family: "JetBrainsMono Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    border: none;
    border-radius: 0;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #11111b;
}

#workspaces button {
    padding: 0px 6px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    border-bottom: 2px solid #f38ba8;
    border-radius: 25%;
    margin-right: 5px;
    margin-top: 5px;
}

#workspaces button.focused, #workspaces button.active {
    background-color: #11111b;
    border-bottom: 2px solid #a6e3a1;
}

#workspaces button.urgent {
    background-color: #f38ba8;
}

#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#wireplumber,
#tray {
    padding: 2px 8px;
    background-color: #1e1e2e;
    color: #cdd6f4;
    border-bottom: 2px solid #cba6f7;
    border-radius: 5px;
    margin-top: 5px;
}

#window,
#workspaces {
    margin-left: 20px;
}

#clock {
    padding: 0px 100px;
}

#network.disconnected {
    background-color: #f38ba8;
}

#pulseaudio {
    margin-right: 20px;
}

#pulseaudio.muted {
    background-color: #f38ba8;
    border-bottom: 2px solid #f9e2af;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

wireplumber.muted {
    background-color: #f38ba8;
}